<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Game</title>
</head>
<body>
    <h1>Welcome to the Dice Game!</h1>
    <form action="/play" method="post">
        <label for="player1">Player 1 Name:</label>
        <input type="text" name="player1" required>
        <br>
        <label for="player2">Player 2 Name:</label>
        <input type="text" name="player2" required>
        <br>
        <button type="submit">Roll the Dice!</button>
    </form>
</body>
</html>
